<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translate API</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            overflow: hidden; /* 防止滾動條出現 */
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none; /* 移除邊框 */
        }
    </style>
</head>
<body>
    <iframe src="https://oinktech.github.io/translate-api/" allowfullscreen></iframe>
</body>
</html>
